body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
}

.MuiContainer-root {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.MuiButton-containedError {
  background-color: #f44336;
  color: #fff;
  width: 200px;
}

.MuiButton-containedSuccess {
  background-color: #4caf50;
  color: #fff;
  width: 200px;
}
